# 6.3

Допустим, в ваше распоряжение предоставлена директория "`./Root/users/`". В данной директории содержатся csv-файлы, в каждом из которых хранится информация об идентификаторах пользователей (`user_id`) и ссылки на их фотографии (`photo_url`). Каждый файл из папки `users` имеет примерно следующую структуру:

![](dst3-u1-md12_6_6.png)

При проверке в директории может быть сколько угодно файлов (директория может изменяться в зависимости от устройства файловой системы).

Вам необходимо написать функцию `concat_user_files(path)`, параметром которой является `path` — путь до директории. Функция должна объединить информацию из предоставленных вам файлов в один `DataFrame` и вернуть его. 

Список названий всех файлов, находящихся в директории, вы можете получить с помощью функции `os.listdir(path)` из модуля os (модуль уже импортирован в файле `main.py`). Например, для директории "`./Root/users/`" результатом работы функции будет список:

```python
print(os.listdir('./Root/users/'))
# ['users2.csv', 'users1.csv', 'users3.csv']
```

Отсортируйте этот список, прежде чем производить объединение файлов.

Когда вы получите отсортированный список, вам останется только прочитать все csv-файлы из списка в цикле и объединить прочитанные таблицы между собой.

Не забудьте обновить индексы результирующей таблицы после объединения.

Учтите, что на тестовом наборе файлов в результате объединения могут возникнуть дубликаты, от которых необходимо будет избавиться.

Примечание. Модуль `os` позволяет работать с операционной системой компьютера прямо из кода. Подробнее о нем вы можете почитать [здесь](https://pythonworld.ru/moduli/modul-os.html).

In [2]:
import os 
os.getcwd()

'/home/user/IDE/synopsis/block_1/PYTHON-12'

In [3]:
path = '/home/user/IDE/synopsis/block_1/PYTHON-12/data/users'
print(os.listdir(path))

['users2.csv', 'users1.csv', 'users3.csv']

In [4]:
import pandas as pd
import os

def concat_users_files(path: str) -> pd.DataFrame:
    """
    Вам необходимо написать функцию concat_user_files(path), параметром которой является path - путь до директории. 
    Функция должна объединить информацию из предоставленных вам файлов в один DataFrame и вернуть его. 
    Не забудьте обновить индексы результирующей таблицы после объединения.
    Учтите тот момент, что в результате объединения могут возникнуть дубликаты, от которых необходимо будет избавиться. 
    """
    user_df = pd.DataFrame(columns=['user_id', 'image_url'])
    for filename in sorted(os.listdir(path)):
        tmp_df = pd.read_csv(path+filename)
        user_df = pd.concat([user_df, tmp_df], ignore_index=True)
    user_df = user_df.drop_duplicates()
    user_df = pd.concat([user_df], ignore_index=True)
    return user_df
        
data = concat_users_files('data/users/')
print(data)

  user_id                         image_url
0   id001  http://example.com/img/id001.png
1   id002  http://example.com/img/id002.jpg
2   id003  http://example.com/img/id003.bmp
3   id004  http://example.com/img/id004.jpg
4   id005  http://example.com/img/id005.png
5   id006  http://example.com/img/id006.png
6   id007  http://example.com/img/id007.png
7   id008  http://example.com/img/id008.png

# 7.5

Даны две таблицы: `items_df`, в которой содержится информация о наличии товаров на складе, и `purchase_df` — с данными о покупках товаров.

```python
items_df = pd.DataFrame({
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394], 
    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],
    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]
})
purchase_df = pd.DataFrame({
    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132], 
    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]
})
```

Информация в таблицах представлена в виде следующих столбцов:

* `item_id` — идентификатор модели;

* `vendor` — производитель модели;

* `stock_count` — имеющееся на складе количество данных моделей (в штуках);

* `purchase_id` — идентификатор покупки;

* `price` — стоимость модели в покупке.

Сформируйте `DataFrame` `merged`, в котором в результате объединения `purchase_df` и `items_df` останутся модели, которые учтены на складе и имели продажи.

Из таблицы `merged` найдите суммарную выручку, которую можно было бы получить от продажи всех товаров, которые учтены на складе и имели продажи. Результат занесите в переменную `income`.

In [5]:
import pandas as pd

items_df = pd.DataFrame({
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394], 
    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],
    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]
})
purchase_df = pd.DataFrame({
    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132], 
    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]
})

merged = items_df.merge(purchase_df, how='inner', on='item_id')
income = (merged['price'] * merged['stock_count']).sum()
print(income)

19729490

# 8. Закрепление знаний

Для решения задач нам понадобится выделить из признака title год выпуска фильма. 

[Статья про регулярные выражения](https://tproger.ru/translations/regular-expression-python/)

In [6]:
# Модуль re предназначен для поиска шаблонов в тексте и встроен в язык, поэтому не нуждается в установке.
import re 

def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	    #очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None

In [7]:
ratings_movies = pd.read_csv('data/ratings_movies.csv')
ratings_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  100836 non-null  int64
 1   userId      100836 non-null  int64
 2   movieId     100836 non-null  int64
 3   rating      100836 non-null  float64
 4   date        100836 non-null  object
 5   title       100836 non-null  object
 6   genres      100836 non-null  object
dtypes: float64(1), int64(3), object(3)
memory usage: 5.4+ MB

# 8.1

Создайте в таблице новый признак `year_release`, который соответствует году выпуска фильма.
У скольких фильмов не указан год их выпуска?

In [8]:
ratings_movies['year_release'] = ratings_movies['title'].apply(
    get_year_release)
ratings_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    100836 non-null  int64
 1   userId        100836 non-null  int64
 2   movieId       100836 non-null  int64
 3   rating        100836 non-null  float64
 4   date          100836 non-null  object
 5   title         100836 non-null  object
 6   genres        100836 non-null  object
 7   year_release  100818 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 6.2+ MB

In [9]:
ratings_movies['year_release'].isna().sum()

18

# 8.2

Какой фильм, выпущенный в 1999 году, получил наименьшую среднюю оценку зрителей?
В качестве ответа запишите название этого фильма без указания года его выпуска.

In [24]:
group_year_title = ratings_movies.groupby(
    by=['year_release', 'title'])['rating'].mean()

In [11]:
display(
    group_year_title[1999].sort_values().index[0]
    )

'Bloodsport: The Dark Kumite (1999)'

# 8.3

Какое сочетание жанров фильмов (`genres`), выпущенных в 2010 году, получило наименьшую среднюю оценку (`rating`)?
Запишите сочетание так же, как оно указано в таблице (через разделитель |, без пробелов).

In [12]:
group_year_genres = ratings_movies.groupby(
    by=['year_release', 'genres'])['rating'].mean()

group_year_genres

year_release  genres
1902.0        Action|Adventure|Fantasy|Sci-Fi    3.50
1903.0        Crime|Western                      2.50
1908.0        Animation|Comedy|Sci-Fi            4.00
1915.0        Drama|War                          2.00
1916.0        Action|Adventure|Sci-Fi            3.75
                                                 ...
2018.0        Drama|Fantasy|Thriller             2.00
              Drama|Horror|Thriller              2.75
              Horror|Mystery|Sci-Fi|Thriller     2.25
              Horror|Mystery|Thriller            3.50
              Sci-Fi|Thriller                    3.50
Name: rating, Length: 4817, dtype: float64

In [13]:
display(
    group_year_genres[2010].sort_values().index[0]
    )

'Action|Sci-Fi'

# 8.4

Какой пользователь (`userId`) посмотрел наибольшее количество различных (уникальных) комбинаций жанров (`genres`) фильмов? В качестве ответа запишите идентификатор этого пользователя.

In [14]:
ratings_movies.groupby('userId')['genres'].agg(
    'nunique'
).sort_values(ascending=False).index[0]

599

# 8.5

Найдите пользователя, который выставил наименьшее количество оценок, но его средняя оценка фильмам наибольшая.
В качестве ответа укажите идентификатор этого пользователя.
Чтобы рассчитать несколько параметров для каждого пользователя (количество оценок и среднюю оценку), можно воспользоваться методом agg() на сгруппированных данных.

In [15]:
ratings_movies.groupby('userId')['rating'].agg(
    ['count', 'mean']
).sort_values(
    by=['count', 'mean'], ascending=[True, False]
)

        count      mean
userId
53         20  5.000000
595        20  4.200000
189        20  4.100000
569        20  4.000000
278        20  3.875000
...       ...       ...
274      1346  3.235884
448      1864  2.847371
474      2108  3.398956
599      2478  2.642050
414      2698  3.391957

[610 rows x 2 columns]

# 8.6

Найдите сочетание жанров (`genres`) за 2018 году, которое имеет наибольший средний рейтинг (среднее по столбцу `rating`), и при этом число выставленных ему оценок (количество значений в столбце `rating`) больше 10.
Запишите сочетание так же, как оно указано в таблице (через разделитель |, без пробелов).

In [16]:
group_genres = ratings_movies.groupby(
    by=['year_release', 'genres'])['rating'].agg(
    ['count', 'mean']
)
    
group_genres = group_genres.loc[2018][
    group_genres.loc[2018]['count'] > 10 
]

group_genres[
    group_genres['mean'] == group_genres['mean'].max()
].index[0]

'Action|Adventure|Sci-Fi'

# 8.7

Добавьте в таблицу новый признак `year_rating` — год выставления оценки. Создайте сводную таблицу, которая иллюстрирует зависимость среднего рейтинга фильма от года выставления оценки и жанра. Выберите верные варианты ответа, исходя из построенной таблицы:

* `A` За весь период (с 1996 по 2018 год) сочетание жанров `Action|Adventure` ни разу не получало среднюю оценку ниже 3.
* `B` Наилучшую оценку жанр `Action|Adventure|Animation|Children|Comedy|IMAX` получил в 2010 году.
* `C` Среди сочетаний жанров, получивших наивысшую среднюю оценку в 2018 году, есть сочетание Animation|Children|Mystery.
* `D` Для жанра `Comedy` прослеживается тенденция падения рейтинга с каждым годом (с 1996 по 2018).

In [17]:
ratings_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    100836 non-null  int64
 1   userId        100836 non-null  int64
 2   movieId       100836 non-null  int64
 3   rating        100836 non-null  float64
 4   date          100836 non-null  object
 5   title         100836 non-null  object
 6   genres        100836 non-null  object
 7   year_release  100818 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 6.2+ MB

In [18]:
ratings_movies['date'] = pd.to_datetime(
    ratings_movies['date']
)

In [19]:
ratings_movies['year_rating']=ratings_movies['date'].dt.year

In [20]:
ratings_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    100836 non-null  int64
 1   userId        100836 non-null  int64
 2   movieId       100836 non-null  int64
 3   rating        100836 non-null  float64
 4   date          100836 non-null  datetime64[ns]
 5   title         100836 non-null  object
 6   genres        100836 non-null  object
 7   year_release  100818 non-null  float64
 8   year_rating   100836 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(2)
memory usage: 6.9+ MB

In [21]:
pivot_genres = ratings_movies.pivot_table(
    values='rating',
    index='genres',
    columns='year_rating',
    fill_value=0
)

In [22]:
# A
# За весь период (с 1996 по 2018 год) сочетание жанров 
# `Action|Adventure` ни разу не получало среднюю оценку ниже 3.

pivot_genres.loc['Action|Adventure'].min() > 3

True

In [23]:
# B
# Наилучшую оценку жанр 
# `Action|Adventure|Animation|Children|Comedy|IMAX` 
# получил в 2010 году.

max_b = pivot_genres.loc[
    'Action|Adventure|Animation|Children|Comedy|IMAX'
    ].max()

pivot_genres[2010].loc[
    'Action|Adventure|Animation|Children|Comedy|IMAX'
] == max_b

False

In [24]:
# C 
# Среди сочетаний жанров, получивших наивысшую среднюю 
# оценку в 2018 году, есть сочетание Animation|Children|Mystery.

max_c = pivot_genres[2018].max()
    
pivot_genres[2018].loc[
    'Animation|Children|Mystery'
] == max_c

True

In [25]:
# D
# Для жанра `Comedy` прослеживается тенденция падения 
# рейтинга с каждым годом (с 1996 по 2018).

rate_tmp = 10
for rate in pivot_genres.loc['Comedy']:
    if rate < rate_tmp:
        rate_tmp = rate
    else:
        print(False)
        break
else:
    print(True)

False

# Задания по объединению таблиц


Дано два файла:

`orders.csv`, содержащий данные о заказах;

`products.csv`, содержащий данные о товарах.

Прочитайте данные файлы, посмотрите на содержимое таблиц и проанализируйте его.

Подумайте, как связаны данные таблицы (какими ключевыми столбцами).

Объедините заданные таблицы в таблицу `orders_products`, чтобы в результирующей таблице оказалась информация обо всех заказах, но не оказалось информации о продуктах, на которых заказов ещё не поступало.

In [28]:
orders = pd.read_csv('data/orders.csv', sep=';')
orders

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100
2,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,104,10
3,09.11.2019 12:50:07,7,8,"Принят, ожидается оплата",Нет,Нет,Нет,104,7
4,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,104,5
5,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,103,5
6,08.11.2019 08:36:22,5,5,Отменён,Нет,Да,Нет,124,1
7,08.11.2019 08:36:22,4,9,"Принят, ожидается оплата",Нет,Нет,Да,91,1
8,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,103,3
9,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,104,3
10,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,74,1
11,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,53,1
12,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,137,1
13,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,47,1
14,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,71,1
15,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,86,1
16,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,51,1
17,01.01.2001 00:00:00,0,1,"Оплачен, формируется к отправке",Да,Нет,Нет,666,1

In [29]:
products = pd.read_csv('data/products.csv', sep=';')

In [30]:
products

    Product_ID                                   Name  Price CURRENCY
0           47                   Шатны Полосатый рейс   2999      RUR
1           51               Платье Аленький цветочек   4999      RUR
2           53                 Штаны Цветочная Поляна   4999      RUR
3           71                    Платье Ночная Жизнь   7999      RUR
4           74               Платье Ночная Жизнь XXXL   8999      RUR
5           86                     Носки Простые, муж     45      RUR
6           91                     Носки Честные, муж     50      RUR
7          103                  Носки Подарочные, муж    199      RUR
8          104                  Носки Подарочные, жен    249      RUR
9          124                   Носки беговые Camino    999      RUR
10         137              Гольфы детские Снегурочка     99      RUR
11         138               Гольфы детские Питер Пен     99      RUR
12         139                       Сумка для носков    500      RUR
13         140  Товар, которому не придумано название      1      RUR

# 8.8

In [38]:
orders_products = orders.merge(
    products,
    left_on='ID товара',
    right_on='Product_ID',
    how='left'
)

orders_products

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество,Product_ID,Name,Price,CURRENCY
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,103.0,"Носки Подарочные, муж",199.0,RUR
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100,86.0,"Носки Простые, муж",45.0,RUR
2,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,104,10,104.0,"Носки Подарочные, жен",249.0,RUR
3,09.11.2019 12:50:07,7,8,"Принят, ожидается оплата",Нет,Нет,Нет,104,7,104.0,"Носки Подарочные, жен",249.0,RUR
4,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,104,5,104.0,"Носки Подарочные, жен",249.0,RUR
5,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,103.0,"Носки Подарочные, муж",199.0,RUR
6,08.11.2019 08:36:22,5,5,Отменён,Нет,Да,Нет,124,1,124.0,Носки беговые Camino,999.0,RUR
7,08.11.2019 08:36:22,4,9,"Принят, ожидается оплата",Нет,Нет,Да,91,1,91.0,"Носки Честные, муж",50.0,RUR
8,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,103,3,103.0,"Носки Подарочные, муж",199.0,RUR
9,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,104,3,104.0,"Носки Подарочные, жен",249.0,RUR
10,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,74,1,74.0,Платье Ночная Жизнь XXXL,8999.0,RUR
11,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,53,1,53.0,Штаны Цветочная Поляна,4999.0,RUR
12,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,137,1,137.0,Гольфы детские Снегурочка,99.0,RUR
13,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,47,1,47.0,Шатны Полосатый рейс,2999.0,RUR
14,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,71,1,71.0,Платье Ночная Жизнь,7999.0,RUR
15,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,86,1,86.0,"Носки Простые, муж",45.0,RUR
16,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,51,1,51.0,Платье Аленький цветочек,4999.0,RUR
17,01.01.2001 00:00:00,0,1,"Оплачен, формируется к отправке",Да,Нет,Нет,666,1,NaN,NaN,NaN,NaN

# 8.10

Какой покупатель принёс наибольшую суммарную прибыль интернет-магазину за указанный период?
В ответ запишите идентификатор этого покупателя (ID Покупателя).
Прибыль состоит только из оплаченных заказов и рассчитывается как количество купленного товара, умноженное на его цену.

In [40]:
orders_products['Сумма'] = orders_products['Количество'] * orders_products['Price']
orders_products

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество,Product_ID,Name,Price,CURRENCY,Сумма
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,103.0,"Носки Подарочные, муж",199.0,RUR,995.0
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100,86.0,"Носки Простые, муж",45.0,RUR,4500.0
2,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,104,10,104.0,"Носки Подарочные, жен",249.0,RUR,2490.0
3,09.11.2019 12:50:07,7,8,"Принят, ожидается оплата",Нет,Нет,Нет,104,7,104.0,"Носки Подарочные, жен",249.0,RUR,1743.0
4,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,104,5,104.0,"Носки Подарочные, жен",249.0,RUR,1245.0
5,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,103.0,"Носки Подарочные, муж",199.0,RUR,995.0
6,08.11.2019 08:36:22,5,5,Отменён,Нет,Да,Нет,124,1,124.0,Носки беговые Camino,999.0,RUR,999.0
7,08.11.2019 08:36:22,4,9,"Принят, ожидается оплата",Нет,Нет,Да,91,1,91.0,"Носки Честные, муж",50.0,RUR,50.0
8,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,103,3,103.0,"Носки Подарочные, муж",199.0,RUR,597.0
9,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,104,3,104.0,"Носки Подарочные, жен",249.0,RUR,747.0
10,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,74,1,74.0,Платье Ночная Жизнь XXXL,8999.0,RUR,8999.0
11,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,53,1,53.0,Штаны Цветочная Поляна,4999.0,RUR,4999.0
12,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,137,1,137.0,Гольфы детские Снегурочка,99.0,RUR,99.0
13,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,47,1,47.0,Шатны Полосатый рейс,2999.0,RUR,2999.0
14,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,71,1,71.0,Платье Ночная Жизнь,7999.0,RUR,7999.0
15,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,86,1,86.0,"Носки Простые, муж",45.0,RUR,45.0
16,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,51,1,51.0,Платье Аленький цветочек,4999.0,RUR,4999.0
17,01.01.2001 00:00:00,0,1,"Оплачен, формируется к отправке",Да,Нет,Нет,666,1,NaN,NaN,NaN,NaN,NaN

In [47]:
orders_products.groupby('ID Покупателя')['Сумма'].sum().sort_values(ascending=False).index[0]

7