# SQL

В рамках курса мы будем использовать PostgreSQL 11 версии. За дополнительной информацией по учебным материалам вы всегда можете обращаться к [англоязычной](https://www.postgresql.org/docs/11/index.html) или [русскоязычной](https://postgrespro.ru/docs/postgresql/11/index.html) версиям документации.

## Виды операторов SQL

* **операторы определения данных** (*Data Definition Language*, **DDL**) — с их помощью создаются и изменяются объекты в БД (сама БД, таблицы, функции, процедуры, пользователи и т. д.);<br><br>
* **операторы манипуляции данными** (*Data Manipulation Language*, **DML**) — с их помощью проводятся манипуляции с данными в таблицах;<br><br>
* **операторы определения доступа к данным** (*Data Control Language*, **DCL**) — с их помощью, как следует из названия, создаются и изменяются разрешения на определённые операции с объектами в БД;<br><br>
* **операторы управления транзакциями** (*Transaction Control Language*, **TCL**) — с их помощью осуществляется комплекс определённых действий, причём так, что либо все эти действия выполняются успешно, либо ни одно из них не выполняется вообще.

## Получаем данные из таблицы

Пример запроса

```sql
SELECT *
FROM sql.kinopoisk
```

**РАЗБИРАЕМ ЗАПРОС**

* Оператор `SELECT` сообщает СУБД, что вы хотите извлечь из неё данные. `SELECT` лежит в основе любого SQL-запроса к БД.<br><br>
* `FROM sql.kinopoisk` сообщает, из какой таблицы извлекаются данные. Сначала указывается название схемы, в которой содержится таблица (в нашем случае — это `sql`), а после точки — название самой таблицы (`kinopoisk`).<br><br>
* Звёздочка `*` указывает, что вы хотите видеть все столбцы этой таблицы.

Если же вам нужны не все столбцы, а только некоторые, вместо звёздочки перечислите названия всех интересующих вас столбцов через запятую.

Важно! *SQL* нечувствителен к регистру, поэтому ключевые слова можно писать хоть строчными, хоть прописными буквами: `SELECT`, `select` или `SeLeCt`.

### Задание 1.1

Напишите запрос, который выведет из таблицы kinopoisk столбцы с названием фильма, годом его выпуска и рейтингом.

```sql
SELECT movie_title, year, rating
FROM sql.kinopoisk
```

Независимо от того, в каком порядке представлены столбцы в таблице, в запросе вы можете указывать их в любой очерёдности.

Порядок столбцов в выводе будет совпадать с их расположением после оператора `SELECT`.

Проведём несколько математических операций с нашим выводом.

Допустим, вы хотите написать запрос, аналогичный запросу из задания, только вместо года выхода фильма, вам нужен его «возраст» на 2020 год.

В таком случае наш запрос будет выглядеть так:

```sql
SELECT
    movie_title,
    2020 - year,
    rating
FROM sql.kinopoisk
```

То есть мы отняли от 2020 года год выхода фильма и получили его возраст! Элементарно!

### Задание 1.2

Напишите запрос, который выведет из таблицы `kinopoisk` следующие столбцы:

имя режиссёра (`director`),
название фильма (`movie_title`),
разница между максимально возможным рейтингом (`10`) и рейтингом этого фильма.

```sql
SELECT
    director,
    movie_title,
    10 - rating
FROM sql.kinopoisk
```

**ЧТО МЫ ВИДИМ?**

Столбец с вычислениями в выводе называется `?column?`, потому что Metabase не смог подобрать для него название.

Давайте наведём порядок и переименуем столбец!

Для этого используем ключевое слово AS и поставим после него новое имя difference. Можем повторить этот процесс для каждого столбца.

```sql
SELECT
    director,
    movie_title,
    10 - rating AS difference
FROM sql.kinopoisk
```

Новое имя является просто псевдонимом, или **алиасом**, — оно временное и не меняет реального имени столбца в базе данных. Алиас влияет только на то, как столбец отображается в выводе конкретного запроса.

Алиасом может быть как одно слово, так и несколько, а его написание — как латиницей, так и кириллицей.

**Обратите внимание!** Если в алиасе используются пробелы, необходимо заключать весь псевдоним в двойные кавычки, например, `movie_title AS "Movie Title"`

**Будьте внимательны!** При выполнении заданий в рамках курса используйте алиасы аккуратно. Если в задаче не указано, какое имя нужно присвоить столбцу, значит, его нужно выводить под тем же названием, что дано ему в таблице.

## Простые операции с данными

Со столбцами, которые содержат числовые данные, можно проводить арифметические операции:

* сложение с помощью `+` ;<br><br>
* вычитание с помощью `-` (этот тип операции вы уже проводили, когда определяли «возраст» фильма);<br><br>
* умножение с помощью `*` ;<br><br>
* деление с помощью `/` ;<br><br>
**Важно!** Если и числитель, и знаменатель — целые числа, результат деления также будет целочисленным, то есть этот оператор произведёт деление нацело.

* получение остатка от деления с помощью `%` 

**ДОПОЛНИТЕЛЬНО**

С полным перечнем доступных арифметических операций вы можете ознакомиться в [официальной документации](https://postgrespro.ru/docs/postgresql/11/functions-math).

### Задание 1.3

Напишите запрос, который выведет столбцы с именем режиссёра, названием фильма, рейтингом по 100-балльной шкале (столбец rating_100). Рейтинг по 100-балльной шкале определите как оценку по 10-балльной, умноженную на 10.

```sql
SELECT
    director,
    movie_title,
    rating * 10 AS rating_10
FROM sql.kinopoisk
```